body {
    color: #6c757d;
}

header {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

header h2 {
    flex-grow: 1;
}

header button {
    margin: 5px 0 5px 10px;
}

#storageSetting .form-check {
    display: inline-block;
}

.header {
    background-color: #0d6efd;
    color: white;
    margin-top: 0;
}

.activities {
    display: flex;
    flex-wrap: wrap;
}
.offcanvas .card{
    margin: 0;
    max-width: -webkit-fill-available;
}
.card {
    width: 300px;
    flex-grow: 1;
    margin: 10px;
}

.card .spinner-border {
    display: none;
}

.card.tracking .spinner-border {
    display: inline-block;
}

.activity-card-header {
    display: flex;
}

.card-title {
    flex-grow: 1;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-text {
    flex-grow: 1;
    padding: 20px 0;
}

.cardDeleteBtn {
    height: fit-content;
}

.toggleActivityBtn {
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
}

.toggleActivityBtn.btn-success {
    background-color: #52a27d;
    border-color: #52a27d;
}

@media screen and (max-width: 485px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    header button{
        margin-left: 0;
    }
}
