header{
    display: flex;
    margin: 10px 0;
}
header h2{
    flex-grow: 1;
}
header button{
    margin-left: 10px;
}
.activities{
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 300px;
    flex-grow: 1;
    margin: 10px;
}
.card.tracking{
    background: #198754;
}
.card.pending{
    background: #ffc107;
}
.activity-card-header{
    display: flex;
}
.card-title{
    flex-grow: 1;
}
.card-body{
    display: flex;
    flex-direction: column;
}
.card-text{
    flex-grow: 1;
    padding: 20px 0;
}
.cardDeleteBtn{
    height: fit-content;
}
.toggleActivityBtn{
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
}
.toggleActivityBtn.btn-success {
    background-color: #52a27d;
    border-color: #52a27d;}